data/
samples/
**/.DS_Store
*.pid
*.pyc
data/max2sat_100at/in/*
data/max2sat_100at/out/*
data/max3sat_100at/in/*
data/max3sat_100at/out/*
solvers/toysolver/
solvers/CCLS_to_akmaxsat_binaries/
solvers/qmaxsat/
solvers/Dist2014/
